/*---------- HEADER--------------*/

header {
  display: grid;
  grid-template-areas:
    "hand seed"
    "hand dig"
    "nav nav";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 3.5rem;
}

#headerHandDiv {
  display: flex;
  flex-wrap: wrap;
  grid-area: hand;
  justify-content: center;
  align-items: center;
}

#handPic {
  z-index: 0;
  flex-grow: 1;
  min-height: 100%;
  min-width: 80%;
}

#logoPic {
  position: absolute;
  max-width: 20%;
}

#headerSeedDiv {
  display: flex;
  flex-wrap: wrap;
  grid-area: seed;
  background-image: url("assets/Rectangle\ 19.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  min-width: 0;
}

#headerDigDiv {
  display: flex;
  flex-wrap: wrap;
  grid-area: dig;
  background-image: url("assets/Rectangle\ 20.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  min-width: 0;
}

.middlePic {
  width: 22rem;
  height: auto;
  z-index: 1;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--green-main-color);
  border-bottom: 1px solid var(--green-main-color);
}

h1 {
  color: var(--green-main-color);
  text-align: center;
  padding: 2rem;
}

/*---------- SEASON TIPS SECTION --------------*/

#seasonTipsSection {
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem 15% 3rem 15%;
}

#earlierPlanting {
  display: flex;
  flex-direction: row-reverse;
  height: fit-content;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem 15% 3rem 15%;
}

#roundSeasonPicDiv,
#roundEarlierPlantingPicDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.packageBackground {
  z-index: 0;
}

.packagePic {
  position: absolute;
  max-width: 20%;
  z-index: 1;
}

#seasonInfoDiv,
#earlierPlantingInfoDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  min-height: 12rem;
  width: 50vw;
  justify-content: space-evenly;
  padding: 4rem;
}

h3 {
  font-size: 2rem;
}

#seasonInfoDiv > p {
  font-size: 1.5rem;
}

#tipsButton {
  align-self: flex-end;
}

#planteradeButton {
  align-self: flex-start;
}

#hrDiv {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 5rem 0 5rem 0;
}

hr {
  color: var(--green-main-color);
  background-color: var(--green-main-color);
  width: 20%;
  height: 1.5px;
}

/*---------- PLANTERING SECTION --------------*/

#plantShowMoreButton {
  align-self: center;
  justify-self: center;
  display: flex;
}

/*---------FOOTER----------*/
footer {
  display: grid;
  background-image: url("assets/hand.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20%;
  color: white;
  grid-template-areas:
    "contactInfo handPicture"
    "toTheTop toTheTop";
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: 100vh 4rem;
}

#contactInfo {
  grid-area: contactInfo;
  background-color: black;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
}

#contactInfo h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}

#telefonMailDiv {
  display: grid;
  grid-template-areas: "telefon mail";
  margin: 1rem;
  font-size: 1.3rem;
}

#telefonMailDiv > div:nth-of-type(2) {
  display: flex;
  justify-self: end;
  align-items: center;
}

.contactIcon {
  transform: scale(1.5);
  margin: 0.5rem;
}

#handPicture {
  grid-area: handPicture;
  display: flex;
  justify-content: center;
}

#handPicture img {
  width: 20%;
}

#toTheTop {
  grid-area: toTheTop;
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* >>>>>>>>>>>>>>>> MOBILE >>>>>>>>>>>>>>>>>*/

@media only screen and (max-width: 851px) {
  /* MOBILE HEADER*/

  header {
    display: grid;
    grid-template-areas:
      "hand hand"
      "seed dig";
    grid-template-columns: repeat(50vw);
    grid-template-rows: 2fr 1fr;
  }

  #headerDigDiv,
  #headerSeedDiv {
    height: 50vw;
  }

  #handPic {
    z-index: 0;
    flex-grow: 1;
    width: 100vw;
  }

  .middlePic {
    max-width: 65%;
    height: auto;
    z-index: 1;
  }

  #logoPic {
    position: absolute;
    max-width: 50%;
  }

  nav {
    display: none;
  }

  h1 {
    padding: 1rem 1rem 2rem 1rem;
    font-size: 1.7rem;
  }

  #seasonTipsSection {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    padding: 0;
  }

  #earlierPlanting {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 0;
  }

  .packageBackground {
    z-index: 0;
    width: 100%;
  }

  .packagePic {
    position: absolute;
    max-width: 20%;
    z-index: 1;
  }

  #seasonInfoDiv,
  #earlierPlantingInfoDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 1rem 30% 1rem 30%;
    width: 90%;
  }

  #seasonInfoDiv h3,
  #earlierPlantingInfoDiv h3 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }

  #seasonInfoDiv > p,
  #earlierPlantingInfoDiv p {
    text-align: center;
    font-size: 1rem;
    margin: 0 1rem 0 1rem 0;
  }

  #tipsButton {
    align-self: center;
    margin-top: 1rem;
  }

  #planteradeButton {
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  #hrDiv {
    margin: 3rem 0 3rem 0;
  }

  hr {
    width: 65%;
  }

  /*---------- MOBILE PLANTERING SECTION --------------*/

  #plantShowMoreButton {
    margin: 1.5rem 0 3rem 0;
  }

  /*---------FOOTER----------*/
  footer {
    display: grid;
    background-image: url("assets/hand.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    color: white;
    grid-template-areas:
      "handPicture"
      "contactInfo"
      "toTheTop";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 50vh) 4rem;
  }

  #contactInfo h2 {
    font-size: 1.8rem;
  }

  #telefonMailDiv {
    font-size: 1rem;
  }

  #telefonMailDiv > div:nth-of-type(1) {
    display: flex;
    align-items: center;
  }

  #telefonMailDiv > div:nth-of-type(2) {
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .contactIcon {
    transform: scale(1);
  }

  #handPicture img {
    width: 40%;
  }

  #toTheTop p {
    font-size: 1.2rem;
  }
}
