* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Lato", sans-serif;
  --green-main-color: #0a846e;
}

a,
a:active {
  text-decoration: none;
  color: var(--green-main-color);
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--green-main-color);
  font-weight: bold;
  border-bottom: 1px solid var(--green-main-color);
  padding: 1.5rem;
}

.greenButton {
  padding: 1rem 2rem 1rem 2rem;
  background-color: var(--green-main-color);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-color: var(--green-main-color);
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.43);
  border-radius: 10px;
}

#planteringSection {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

/*--- PLANTERING SECTION with card ---*/

.planteringWrapperDiv {
  display: grid;
  grid-template-areas:
    "a b c"
    "d e f";
  grid-template-columns: repeat(3, 20vw);
  grid-template-rows: repeat(2, 28vw);
  padding: 3rem 15% 3rem 15%;
  justify-content: space-evenly;
  row-gap: 25px;
}

.card {
  display: grid;
  grid-template-areas: "pic" "titleDate" "creatorButton";
  grid-template-rows: 70% 15% 15%;
  box-shadow: 4px 3px 5px 3px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 4px 3px 5px 3px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 4px 3px 5px 3px rgba(0, 0, 0, 0.38);
}

.card > div:first-of-type {
  display: flex;
  grid-area: pic;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.plantPic {
  display: flex;
  z-index: 0;
  flex-grow: 1;
  align-self: stretch;
}

.plantIcon {
  position: absolute;
  max-width: 10%;
}

.card > div:nth-of-type(2) {
  grid-area: titleDate;
  display: grid;
  grid-template-areas: "title date";
  grid-template-columns: repeat(2 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  z-index: 1;
}

.card h4 {
  font-size: 1.5rem;
}

.card > div:nth-of-type(2) > p {
  font-weight: bold;
}

.card > div:nth-of-type(3) {
  grid-area: creatorButton;
  display: grid;
  grid-template-areas: "creator deleteButton";
  grid-template-columns: repeat(2 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  z-index: 1;
}

.card > div:nth-of-type(3) > p {
  font-weight: 200;
}

.card > div:nth-of-type(3) > button {
  background-color: rgb(185, 56, 87);
  color: white;
  font-weight: bold;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border-radius: 10px;
  border-color: 1px solid rgb(185, 56, 87);
}

.card > div:nth-of-type(3) > span {
  display: none;
}

/*<<<<<<<<<<<<<<<<<<<<<<  MOBILE >>>>>>>>>>>>>>>>>>>>>>>>*/
@media only screen and (max-width: 851px) {
  .greenButton {
    padding: 0.7rem 1rem 0.7rem 1rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
  }

  /*---------- MOBILE PLANTERING SECTION with card--------------*/
  #planteringSection h2 {
    font-size: 1.5rem;
  }

  .planteringWrapperDiv {
    display: grid;
    grid-template-areas:
      "a b"
      "c d"
      "e f";
    grid-template-columns: repeat(2, 40vw);
    grid-template-rows: repeat(3, 60vw);
    padding: 1rem;
    justify-content: space-evenly;
    row-gap: 15px;
    margin: 1rem 0 1rem 0;
    padding: 0;
  }

  .plantPic {
    display: flex;
    z-index: 0;
  }

  .plantIcon {
    max-width: 20%;
  }

  .card > div:nth-of-type(2) {
    padding: 5px;
  }

  .card h4 {
    font-size: 0.9rem;
  }

  .card > div:nth-of-type(2) > p {
    font-size: 0.8rem;
    text-align: end;
  }

  .card > div:nth-of-type(3) {
    padding: 5px;
    z-index: 1;
  }

  .card > div:nth-of-type(3) > p {
    font-weight: 200;
    font-size: 0.8rem;
  }

  .card > div:nth-of-type(3) > button {
    display: none;
  }

  .card > div:nth-of-type(3) > span {
    display: block;
    color: red;
    font-size: 1.2rem;
  }
}
